.change__city {
  position: absolute;
  background-color: #2e2e2e;
  top: 35px;
  right: 0px;
  display: none;
  //   display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  &_active {
    position: absolute;
    display: flex;
  }
  a {
    background-color: transparent;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.7;
    }
    &:first-child {
      margin-bottom: 5px;
    }
  }
}
