* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.button {
  background-color: #4d974c;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 20px 50px 20px 30px;
  border: 1px solid #4d974c;
  line-height: 0px;
  svg {
    margin-left: 6px;
  }
  &_outline {
    background-color: transparent;
    border: 1px solid #fff;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

@import "./libs/bootstrap-reboot.min";
@import "./fonts/fonts";
@import "./components/header/header";
@import "./components/intro/intro";
@import "./components/clients/clients";
@import "./components/assortment/assortment";
@import "./components/question/question";
@import "./components/area/area";
@import "./components/advantage/advantage";

body {
  color: #fff;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 10px;
}

.text {
  font-size: 18px;
}

.text_green {
  color: #4d974c;
}

.title {
  font-size: 64px;
}
