*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.button {
  display: block;
  width: 263px;
  text-align: center;
  line-height: 40px;
  background-color: #4d974c;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #4d974c;
  transition: all 0.3s ease;
  svg {
    margin-left: 6px;
  }
  &_outline {
    background-color: transparent;
    border: 1px solid #fff;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
  }
}

@import "./libs/bootstrap-reboot.min";
@import "./fonts/fonts";
@import "./components/header/header";
@import "./components/intro/intro";
@import "./components/clients/clients";
@import "./components/assortment/assortment";
@import "./components/question/question";
@import "./components/area/area";
@import "./components/advantage/advantage";
@import "./components/footer/footer";
@import "./components/modal/modal";

body {
  color: #fff;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 10px;
}

.text {
  font-size: 18px;
}

.text_green {
  font-weight: 400;
  color: #4d974c;
}

.title {
  font-weight: 400;
  font-size: 64px;
}

@import "./media/media";
