.intro {
  padding-top: 100px;
  background-color: #202020;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    margin-bottom: 12px;
  }

  &__title {
    line-height: 80px;
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 60px;
  }

  &__buttons {
    height: 100%;
  }

  &__left {
    width: 52%;
    margin-top: 85px;
  }
  &__right {
    position: relative;
    width: 43%;
    z-index: 1;
  }

  &__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  &__circle {
    position: absolute;
    bottom: 30px;
    left: -110px;
    width: 220px;
    height: auto;
    object-fit: cover;
  }
  &__buttons {
    display: flex;
    height: 45px;
  }
  &__button {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
