.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding: 14px 0;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #2e2e2e;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  &__wrapper {
    max-width: 1378px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    position: relative;
    z-index: 5;
    display: block;
    max-width: 123px;
    img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  }

  .burger__block {
    display: flex;
    align-items: center;
    display: none;
  }
  .phone {
    position: relative;
    z-index: 5;
    &__icon {
      margin-right: 7px;
      svg {
        width: 15px;
      }
    }
    &__text {
      color: #ffffff;
      text-decoration: none;
      margin-top: 3px;
    }
    &__item {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 30px;

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  .burger {
    position: relative;
    width: 24px;
    height: 14px;
    margin-left: 24px;
    span {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #fff;
      transition: all 0.3s ease;
      margin-bottom: 5px;
      &:nth-child(3) {
        margin-bottom: 0px;
      }
    }
    &_active {
      span:nth-child(1) {
        transform: rotate(45deg) translateY(9px);
      }
      span:nth-child(3) {
        transform: rotate(-45deg) translateY(-9px);
      }
      span:nth-child(2) {
        transform: scale(0);
      }
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 1075px;
  }
  .navbar__menu {
    position: relative;
    z-index: 5;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    // width: 500px;
    // margin-right: 53px;
  }
  .navbar__item {
    position: relative;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 15px;
    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      right: 0px;
      background-color: #4d974c;
      width: 1px;
      height: 15px;
    }
    &:last-child::after {
      display: none;
    }
    a {
      color: #fff;
      text-decoration: none;
      transition: all 0.3s ease;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .contacts {
    position: relative;
    z-index: 5;
    display: flex;
    &__icon {
      margin-right: 6px;
      &_call {
        margin-right: 20px;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      transition: all 0.3s ease;
      border: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;

      a {
        color: #fff;
        text-decoration: none;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }

      &_choice {
        position: relative;
        z-index: 5;
        &:hover {
          opacity: 1;
        }
      }
    }

    &__text {
      margin-top: 4px;
    }
    .mr-35 {
      margin-right: 35px;
    }
    &__arrow {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.12365 0.328761L3.9999 3.37376L0.876145 0.328761C0.820334 0.274247 0.745412 0.243728 0.667395 0.243728C0.589378 0.243728 0.514456 0.274247 0.458645 0.328761C0.431621 0.355239 0.410153 0.386842 0.395496 0.421721C0.38084 0.4566 0.373291 0.494053 0.373291 0.531886C0.373291 0.569719 0.38084 0.607172 0.395496 0.642051C0.410153 0.67693 0.431621 0.708533 0.458645 0.735011L3.78177 3.97501C3.84013 4.03189 3.9184 4.06373 3.9999 4.06373C4.08139 4.06373 4.15966 4.03189 4.21802 3.97501L7.54115 0.735636C7.56836 0.709139 7.58999 0.677457 7.60476 0.642463C7.61953 0.607468 7.62714 0.56987 7.62714 0.531886C7.62714 0.493902 7.61953 0.456303 7.60476 0.421309C7.58999 0.386314 7.56836 0.354633 7.54115 0.328136C7.48533 0.273622 7.41041 0.243103 7.3324 0.243103C7.25438 0.243103 7.17946 0.273622 7.12365 0.328136V0.328761Z' fill='white'/%3E%3C/svg%3E%0A");
        width: 7px;
        height: 4px;
        right: -14px;
        bottom: 10px;
      }
    }
    &__text_call {
      font-size: 14px;
      font-weight: 500;
      color: #4d974c;
      text-decoration: underline;
    }
  }
}
