.question {
  position: relative;
  background: url("../../../img/Background_2bg.png");
  padding-top: 142px;
  height: 350px;
  &__block {
    position: absolute;
    right: 0px;
    background-color: #2e2e2e;
    padding: 43px 27px;
    display: flex;
    width: 90%;
  }
  &__left {
    z-index: 2;
    margin-right: 28px;
  }
  &__right {
    z-index: 2;
  }
  &__title {
    max-width: 740px;
  }
  &__text {
    max-width: 628px;
    padding-left: 72px;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
  }

  &__form {
    margin-top: 74px;
    width: 440px;
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 0;
      position: relative;
      transition: all 0.3s ease;
      &.active {
        transform: translateY(-10px);
      }
    }
    input {
      background-color: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid #fff;
      margin-bottom: 30px;
      color: #fff;
      line-height: 23px;
      padding-bottom: 10px;
      &::placeholder {
        position: absolute;
        font-size: 16px;
        line-height: 14px;
        color: #fff;
        bottom: 12px;
      }
    }
  }
  &__button {
    font-size: 16px;
    align-self: flex-end;
    svg {
      margin-left: 10px;
    }
  }
}
#call .question__form {
  width: 100%;
}
