@media (max-width: 1239px) {
  .header {
    &__logo {
      max-width: 100px;
    }
    .navbar {
      &__item {
        padding-right: 4px;
        padding-left: 4px;
        font-size: 13px;
      }
    }

    .contacts {
      &__item {
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
      &__text {
        font-size: 14px;
      }
      .mr-35 {
        margin-right: 20px;
      }
      &__icon {
        margin-right: 6px;
        &_call {
          margin-right: 5px;
        }
      }
    }
  }

  .intro {
    &__left {
      margin-top: 40px;
    }
  }

  .clients {
    &__title {
      font-size: 25px;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 60px;
      }
      &:nth-child(1) {
        width: 50px;
      }
      &:nth-child(2) {
        width: 80px;
      }
      &:nth-child(3) {
        width: 149px;
      }
      &:nth-child(4) {
        width: 57px;
      }
      &:nth-child(5) {
        width: 70px;
      }
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
  .assortment {
    &__name {
      font-size: 14px;
    }
    &__desc {
      font-size: 12px;
    }
    &__details {
      font-size: 14px;
    }
    &__img {
      width: 80px;
      height: 80px;
    }
  }
  .question {
    &__title.title {
      font-size: 32px;
    }
    &__text {
      padding-left: 0px;
    }
    &__form {
      margin-top: 30px;
    }
  }

  .area {
    &__item {
      margin-right: 12px;
    }
  }

  .advantage {
    &__left {
      max-height: 423px;
    }
    &__item {
      max-width: 250px;
      &:not(:nth-child(2n)) {
        margin-right: 20px;
      }
    }
  }

  .footer {
    &__description {
      font-size: 13px;
    }

    &__link {
      font-size: 15px;
    }

    &__contacts-item {
      a {
        font-size: 14px;
      }
    }

    &__city {
      font-size: 14px;
    }

    &__menu {
      width: 120px;
    }
    &__map {
      max-width: 290px;
    }
  }

  .text {
    font-size: 16px;
  }

  .title {
    font-size: 47px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 659px;
    padding: 0px;
  }
  .header {
    padding: 8px 0px 3px 0px;
    &::before {
      z-index: 4;
    }
    &__logo {
      max-width: 123px;
    }
    &__wrapper {
      justify-content: space-between;
      max-width: 659px;
      padding: 0px;
    }
    .burger {
      display: block;
      z-index: 4;
    }
    .navbar {
      width: 100%;
      height: 100%;
      background-color: #202020;
      position: fixed;
      z-index: 3;
      right: 0px;
      top: -100%;
      transition: all 0.3s ease;
      &__menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      &__item {
        font-size: 20px;
        margin-bottom: 10px;

        &::after {
          width: 100%;
          height: 1px;
          bottom: 0px;
        }
        &:last-child::after {
          display: block;
        }
      }
      &_active {
        top: 0px;
      }
    }

    .contacts {
      display: none;
    }
  }

  .intro {
    padding-top: 98px;
    &__left {
      margin-top: 20px;
    }

    &__text {
      margin-bottom: 12px;
    }

    &__title {
      margin-bottom: 25px;
    }

    &__subtitle {
      margin-bottom: 20px;
    }

    &__buttons {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &__img {
      display: block;
      object-fit: cover;
      width: 266px;
      height: 354px;
    }

    &__circle {
      position: absolute;
      bottom: 25px;
      left: -60px;
      width: 105px;
      object-fit: cover;
    }
    &__right {
      width: 266px;
    }
  }

  .clients {
    padding-top: 40px;
    &__title {
      line-height: 29.87px;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 27px;
      }
    }
  }

  .assortment {
    padding-top: 77px;
    padding-bottom: 182px;
    &__description {
      font-size: 14px;
      line-height: 26px;
      max-width: 650px;
    }
    &__item {
      width: 48%;
      margin-right: 12px;
    }
    &__name {
      font-size: 16px;
    }
    &__desc {
      font-size: 15px;
    }
    &__details {
      font-size: 16px;
    }
    &__img {
      width: 96px;
      height: 96px;
    }
  }

  .question {
    background-size: cover;
    height: 397px;
    &__title.title {
      font-weight: 400;
      font-size: 36px;
      line-height: 48px;
    }
    &__block {
      width: 654px;
      right: 50%;
      top: -100px;
      transform: translateX(50%);
      padding: 39px 27px;

      flex-direction: column;
    }
    &__form {
      width: 100%;
      label {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 0px;
      }
      input {
        margin-bottom: 45px;
      }
    }
    &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;

      text-align: justify;
    }
  }

  .area {
    padding-top: 183px;
    &__list {
      margin-top: 34px;
    }
    &__item {
      width: 48%;
    }
    &__caption {
      margin-bottom: 11px;
    }
    &__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;

      text-align: justify;
    }
  }

  .advantage {
    position: relative;
    padding-top: 70px;
    padding-bottom: 173px;
    &__left {
      position: absolute;
      width: 303px;
      bottom: 75px;
    }
    &__right {
      width: 100%;
      flex-direction: row-reverse;
    }
    &__item {
      max-width: 300px;
      &:not(:nth-child(2n)) {
        margin-right: 51px;
      }
      &_filled {
        max-width: 300px;
        margin-left: 53%;
      }
    }
    &__description {
      font-size: 14px;
      line-height: 26px;
    }
    &__circle {
      width: 108px;
      bottom: -30px;
    }
  }

  .text {
    font-size: 16px;
    line-height: 18px;
  }

  .title {
    font-size: 36px;
    line-height: 48px;
  }

  .button.intro__button {
    display: block;
    max-width: 230px;
    text-align: center;
    padding: 0px;
    line-height: 36px;
    font-weight: 400;
    font-size: 14px;
    margin-right: 0;
    margin-bottom: 19px;
  }
}
