@font-face {
  font-family: "UbuntuRegular";
  src: url("./dist/fonts/UbuntuRegular.woff2") format("woff2");
}

@font-face {
  font-family: "UbuntuMedium";
  src: url("./dist/fonts/UbuntuMedium.woff2") format("woff2");
}
